.outer{
  text-align: center;
  width:100%;
}

.calc{
  height:300px;
  width: 300px;
  background-color: #eee
}

.calc button{
  width: 40px;
  background-color:#fff;
  margin:3px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px gray solid;
}


.inputBox{
  height: 30px;
  margin-bottom: 10px;
}

.sum{
  background-color: green !important
}
.calculate{
  list-style: none;
  margin: 0;
  padding: 10px 0;
}